<form [formGroup]="form" (ngSubmit)="guardarAnimal()">
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
        <input type="text" class="form-control" formControlName="numero" placeholder="Número animal">
    </div>

    <div class="input-group mb-2">
        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
        <input type="text" class="form-control" formControlName="numeroRaya" placeholder="Raya animal">
    </div>

    <div class="input-group mb-2">
        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
        <input type="text" class="form-control" formControlName="idRaza" placeholder="Raza">
    </div>
    
    <div class="d-grid gap-2">
        <button class="btn btn-success" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar</button>        
      </div>
</form>